In [27]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re

df_train = pd.read_csv("dataset/train.csv")  #changed from "train.csv"
df_test = pd.read_csv("dataset/test.csv")



df_train[['text']]

                                                   text
0     Our Deeds are the Reason of this #earthquake M...
1                Forest fire near La Ronge Sask. Canada
2     All residents asked to 'shelter in place' are ...
3     13,000 people receive #wildfires evacuation or...
4     Just got sent this photo from Ruby #Alaska as ...
...                                                 ...
7608  Two giant cranes holding a bridge collapse int...
7609  @aria_ahrary @TheTawniest The out of control w...
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611  Police investigating after an e-bike collided ...
7612  The Latest: More Homes Razed by Northern Calif...

[7613 rows x 1 columns]

In [28]:
def cleaned(text):
    text = re.sub(r"\n","",text)
    text = text.lower()
    text = re.sub(r"\d","",text)        #Remove digits
    text = re.sub(r'[^\x00-\x7f]',r' ',text) # remove non-ascii
    text = re.sub(r'[^\w\s]','',text) #Remove punctuation
    text = re.sub(r'http\S+|www.\S+', '', text) #Remove http
    return text

df_train['text'] = df_train['text'].apply(lambda x : cleaned(x))

In [29]:
df_train[['text']]

                                                   text
0     our deeds are the reason of this earthquake ma...
1                 forest fire near la ronge sask canada
2     all residents asked to shelter in place are be...
3      people receive wildfires evacuation orders in...
4     just got sent this photo from ruby alaska as s...
...                                                 ...
7608  two giant cranes holding a bridge collapse int...
7609  aria_ahrary thetawniest the out of control wil...
7610                      m  utckm s of volcano hawaii
7611  police investigating after an ebike collided w...
7612  the latest more homes razed by northern califo...

[7613 rows x 1 columns]

In [12]:
df_train

,id,keyword,location,text,target
0,1,NaN,NaN,our deeds are the reason of this earthquake ma...,1
1,4,NaN,NaN,forest fire near la ronge sask canada,1
2,5,NaN,NaN,all residents asked to shelter in place are be...,1
3,6,NaN,NaN,people receive wildfires evacuation orders in...,1
4,7,NaN,NaN,just got sent this photo from ruby alaska as s...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,aria_ahrary thetawniest the out of control wil...,1
7610,10871,NaN,NaN,m utckm s of volcano hawaii,1
7611,10872,NaN,NaN,police investigating after an ebike collided w...,1
7612,10873,NaN,NaN,the latest more homes razed by northern califo...,1

In [17]:
# rwo filter

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re

df_new = pd.read_csv("results/csv/_23_10_15_22_14_05.csv")  #changed from "train.csv"
df_new

,id,keyword,location,text,target_ground_T,target,prob_DIS_TRUE,prob_DIS_FALSE,prediction
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1,1,0.898958,0.118938,Disaster
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1,1,0.809305,0.215982,Disaster
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1,0,0.648180,0.335497,Disaster
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1,0,0.570108,0.406788,Disaster
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0,0,0.175745,0.791633,NOT a Disaster
...,...,...,...,...,...,...,...,...,...
11365,11365,wrecked,Blue State in a red sea,Media should have warned us well in advance. T...,0,0,0.320826,0.662948,NOT a Disaster
11366,11366,wrecked,arohaonces,i feel directly attacked ðŸ’€ i consider moonbin ...,0,0,0.165259,0.792880,NOT a Disaster
11367,11367,wrecked,ðŸ‡µðŸ‡­,i feel directly attacked ðŸ’€ i consider moonbin ...,0,0,0.174767,0.787528,NOT a Disaster
11368,11368,wrecked,auroraborealis,"ok who remember ""outcast"" nd the ""dora"" au?? T...",0,0,0.163032,0.793749,NOT a Disaster
11369,11369,wrecked,NaN,Jake Corway wrecked while running 14th at IRP.,1,0,0.495178,0.496758,NOT a Disaster

In [22]:
# df_new_ = df_new[df_new["prob_DIS_TRUE"]>0.85]

# or df_new["prob_DIS_FALSE"]>0.85

# filtered_values = np.where((dataFrame['Salary']>=100000) & (dataFrame['Age']< 40) & (dataFrame['JOB'].str.startswith('D')))
# dataFrame[filtered_values]

df_ = df_new.loc[(df_new['prob_DIS_TRUE']>=0.70) | (df_new['prob_DIS_FALSE']>0.70)]

# df_new_
# predictions_df.loc[predictions_df["prob_DIS_TRUE"] < 0.75, "target"] = 0
df_

,id,keyword,location,text,target_ground_T,target,prob_DIS_TRUE,prob_DIS_FALSE,prediction
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1,1,0.898958,0.118938,Disaster
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1,1,0.809305,0.215982,Disaster
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0,0,0.175745,0.791633,NOT a Disaster
5,5,ablaze,OC,"If this child was Chinese, this tweet would ha...",0,0,0.248484,0.730252,NOT a Disaster
6,6,ablaze,"London, England",Several houses have been set ablaze in Ngemsib...,1,1,0.825068,0.194716,Disaster
...,...,...,...,...,...,...,...,...,...
11363,11363,wrecked,NaN,He's the oxygen that pumps blood to my living ...,0,0,0.217445,0.770807,NOT a Disaster
11364,11364,wrecked,NaN,Had these guys last game n fcked them. Talked ...,0,0,0.170426,0.790354,NOT a Disaster
11366,11366,wrecked,arohaonces,i feel directly attacked ðŸ’€ i consider moonbin ...,0,0,0.165259,0.792880,NOT a Disaster
11367,11367,wrecked,ðŸ‡µðŸ‡­,i feel directly attacked ðŸ’€ i consider moonbin ...,0,0,0.174767,0.787528,NOT a Disaster
11368,11368,wrecked,auroraborealis,"ok who remember ""outcast"" nd the ""dora"" au?? T...",0,0,0.163032,0.793749,NOT a Disaster

In [23]:
print("\n\nnew_training_rows : ",len(df_),end="\n\n\n")

new_training_rows :  7406

In [30]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import scipy.stats as stats

from nltk.tokenize import word_tokenize,sent_tokenize
from string import punctuation
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer,LancasterStemmer

from contractions import fix 
from unidecode import unidecode
# import pandas as pd 

# from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
# from sklearn.naive_bayes import MultinomialNB,BernoulliNB,GaussianNB
# from sklearn.metrics import accuracy_score,classification_report,confusion_matrix 
# from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV, StratifiedKFold

# import pandas
# from tqdm import tqdm
# tqdm.pandas()
# from wordcloud import WordCloud
# from gensim.models import Word2Vec,doc2vec

# from sklearn.linear_model import LogisticRegression
# from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
# from sklearn.svm import SVC,SVR

import warnings
warnings.filterwarnings('ignore')

df_train = pd.read_csv("dataset/train.csv")  #changed from "train.csv"
df_test = pd.read_csv("dataset/test.csv")

In [31]:
df_train

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [32]:
df_train[['text']]

                                                   text
0     Our Deeds are the Reason of this #earthquake M...
1                Forest fire near La Ronge Sask. Canada
2     All residents asked to 'shelter in place' are ...
3     13,000 people receive #wildfires evacuation or...
4     Just got sent this photo from Ruby #Alaska as ...
...                                                 ...
7608  Two giant cranes holding a bridge collapse int...
7609  @aria_ahrary @TheTawniest The out of control w...
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611  Police investigating after an e-bike collided ...
7612  The Latest: More Homes Razed by Northern Calif...

[7613 rows x 1 columns]

In [33]:
# remove newlines , spaces
def remove_blank(data):
    text=data.replace("\\n"," ").replace("\t"," ")
    return text

# Contractions mapping
def contract_text(data):
    text=fix(data)
    return text

# handling accented character
def handling_accented_chr(data):
    text=unidecode(data)
    return text

# remove stopwords
stopwords_list=stopwords.words('english')
stopwords_list.remove('no')
stopwords_list.remove('nor')
stopwords_list.remove('not')

# clean the text
def clean_text(data):
    # tokenization
    tokens=word_tokenize(data)
    # lowercase the data
    #lowercase=[word.lower() for word in tokens]
    # remove stopwords
    #remove_stopwords=[word for word in lowercase if word not in stopwords_list]
    # remove punctuations
    #remove_punctuations=[word for word in remove_stopwords if word not in punctuation]
    # remove len(word)<2
    #remove_len_word=[word for word in remove_punctuations if len(word)>2]
    # word contains only alphabet not number
    #final_text=[word for word in remove_len_word if word.isalpha()]
    
    clean_data=[i.lower() for i in tokens if (i.lower() not in punctuation) and (i.lower() not in stopwords_list) and (len(i)>2) and (i.isalpha())]

    
    return clean_data

def lemmatization(data):
    final_text=[]
    lemmatizing=WordNetLemmatizer()
    for i in data:
        lemma=lemmatizing.lemmatize(i)
        final_text.append(lemma)
        
    return " ".join(final_text)

In [34]:
## For Test Data
df_train['text']=df_train['text'].apply(remove_blank)
df_train['text']=df_train['text'].apply(contract_text)
df_train['text']=df_train['text'].apply(handling_accented_chr)
df_train['text']=df_train['text'].apply(clean_text)
df_train['text']=df_train['text'].apply(lemmatization)

In [35]:
df_train[['text']]

                                                   text
0              deed reason earthquake may allah forgive
1                    forest fire near ronge sask canada
2     resident asked place notified officer evacuati...
3     people receive wildfire evacuation order calif...
4     got sent photo ruby alaska smoke wildfire pour...
...                                                 ...
7608  two giant crane holding bridge collapse nearby...
7609  thetawniest control wild fire california even ...
7610                            utc volcano hawaii http
7611  police investigating collided car little portu...
7612  latest home razed northern california wildfire...

[7613 rows x 1 columns]

In [19]:
import pyfiglet

def entry_menu():
    total_characters = 76
    fonts = ['delta_corps_priest_1','cyberlarge','bubble','ansi_regular','ansi_shadow','dos_rebel','starwars','calvin_s']
    project_name = "Disaster Tweets"
    application_name = pyfiglet.figlet_format(project_name,font=fonts[1])

    print("{:^{total_characters}}".format('',total_characters=total_characters))
    print(application_name)
    print("{:_^{total_characters}}".format('',total_characters=total_characters))
    print("{:^{total_characters}}".format('',total_characters=total_characters))

    print("{:*^{total_characters}}".format('  Actual Disaster Tweets Finder  ',total_characters=total_characters))
    print("\n")
    print("{:*^{total_characters}}".format('**  1. Show general summary visualizations for job indicators     ',total_characters=total_characters))


entry_menu()

 ______  _____ _______ _______ _______ _______ _______  ______
 |     \   |   |______ |_____| |______    |    |______ |_____/
 |_____/ __|__ ______| |     | ______|    |    |______ |    \_

 _______ _  _  _ _______ _______ _______ _______
    |    |  |  | |______ |______    |    |______
    |    |__|__| |______ |______    |    ______|


____________________________________________________________________________

*********************  Actual Disaster Tweets Finder  **********************


*******  1. Show general summary visualizations for job indicators     *****

In [24]:
print(('\n{:*^76}\nDo you want to continue (y or n) :: '))

{:*^76}
Do you want to continue (y or n) ::

In [ ]:
# select 10% for the validation (local testing) - select this from original training set

# merge all csv 

# append all extracted and filtered to a

# return 

# validate.py to return the F1 score for validation

# complete pipeline


new_model <- new training job using the entire dataset
    run bash through python

then at the begining of the key word search adn prediction at the next user input check for the performance of previously created new model


then validating the new_model using the local validation dataset
    lemos_validation.py ---> model, validation_split()

In [17]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re
import glob

folder_path_for_csv = 'results/csv/' #ablaze_23_10_02_00_37_57.csv
# full_path_
csv_file_list = glob.glob(f"{folder_path_for_csv}/*.csv")

print(csv_file_list)

['results/csv/arson_23_11_08_16_34_17.csv', 'results/csv/ablaze_23_11_08_16_34_45.csv', 'results/csv/casualty_23_11_08_18_31_28.csv', 'results/csv/fire_23_11_08_16_31_46.csv', 'results/csv/wildfire_23_11_08_16_33_03.csv', 'results/csv/bushfire_23_11_08_16_33_57.csv', 'results/csv/flood_23_11_08_16_33_36.csv']

In [23]:
!pwd

/home/oruma001/cs834_

In [44]:
# cs834_/results/csv/selected/wildfire_23_10_02_00_38_32.csv

df_all = pd.DataFrame(columns = ['id', 'keyword', 'location', 'text', 'target', 'prob_DIS_TRUE',
       'prob_DIS_FALSE', 'prediction'])

for csv_file in csv_file_list:
    df = pd.read_csv(csv_file)

    df_all = pd.concat([df_all,df])
    # df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

    # print(df.columns)
    
    # print(df.head(5))
    print(csv_file," - ",len(df))


df_all = df_all.sort_values(by=['id'])
print(len(df_all))

df_unique = df_all.drop_duplicates(subset=['id'])

print(len(df_unique))

df_all.to_csv(r'dataset/all_extracted_data_in_one.csv',index=False)
df_unique.to_csv(r'dataset/all_unique_data_in_one.csv',index=False)

results/csv/arson_23_11_08_16_34_17.csv  -  44
results/csv/ablaze_23_11_08_16_34_45.csv  -  17
results/csv/fire_23_11_08_16_31_46.csv  -  524
results/csv/wildfire_23_11_08_16_33_03.csv  -  42
results/csv/bushfire_23_11_08_16_33_57.csv  -  119
results/csv/flood_23_11_08_16_33_36.csv  -  128
874
676

/tmp/ipykernel_726757/1309146042.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_all = pd.concat([df_all,df])

In [14]:
df = pd.DataFrame(columns = ['id', 'keyword', 'location', 'text', 'target', 'prob_DIS_TRUE',
       'prob_DIS_FALSE', 'prediction'])
print(df)

Empty DataFrame
Columns: [id, keyword, location, text, target, prob_DIS_TRUE, prob_DIS_FALSE, prediction]
Index: []

In [37]:
#merging new records with initial training dataset
initial_training_df = pd.read_csv('dataset/train_split.csv')
unique_new_records = pd.read_csv('dataset/all_unique_data_in_one.csv')

# remove additional columns from unique_new_records df
unique_new_records = unique_new_records.iloc[:,:5]

# print(initial_training_df.columns)
# print(unique_new_records.columns)

df_all_training = pd.concat([initial_training_df,unique_new_records])

# initial_training_df.head()
print('initial_training_df : ',len(initial_training_df))
print('unique_new_records : ',len(unique_new_records))
print('df_all_training : ',len(df_all_training))

df_all_training.to_csv(r'dataset/extended_training_dataset.csv',index=False)

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')
Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')
initial_training_df :  6851
unique_new_records :  676
df_all_training :  7527

In [42]:
# spliting train.csv into train(0.9) and validation (0.1)
from sklearn.model_selection import train_test_split

kaggle_training_df = pd.read_csv('dataset/train.csv')

train, validation = train_test_split(kaggle_training_df, test_size=0.1)

print(len(kaggle_training_df))
print(len(train))
print(len(validation))

train = train.sort_values(by=['id'])
validation = validation.sort_values(by=['id'])

# type(train)
train.to_csv(r'dataset/train_split.csv',index=False)
validation.to_csv(r'dataset/validation_split.csv',index=False)

7613
6851
762

In [49]:
def merge_new_records_and_extend_training_dataset():
    folder_path_for_csv = 'results/csv/' 
    csv_file_list = glob.glob(f"{folder_path_for_csv}/*.csv")

    df_all = pd.DataFrame(columns = ['id', 'keyword', 'location', 'text', 'target', 'prob_DIS_TRUE',
           'prob_DIS_FALSE', 'prediction'])
    
    for csv_file in csv_file_list:
        df = pd.read_csv(csv_file)
        df_all = pd.concat([df_all,df]) 
    
    df_all = df_all.sort_values(by=['id'])   
    df_unique = df_all.drop_duplicates(subset=['id'])

    df_all.to_csv(r'dataset/all_extracted_data_in_one.csv',index=False)
    df_unique.to_csv(r'dataset/all_unique_data_in_one.csv',index=False)    

    # merging new records with initial training dataset
    initial_training_df = pd.read_csv('dataset/train_split.csv')
    
    # remove additional columns from unique_new_records df
    df_unique = df_unique.iloc[:,:5]   
    df_all_training = pd.concat([initial_training_df, df_unique])
    
    # initial_training_df.head()
    print('initial_training_df : ',len(initial_training_df))
    print('unique_new_records : ',len(df_unique))
    print('df_all_training : ',len(df_all_training))
    
    df_all_training.to_csv(r'dataset/extended_training_dataset.csv',index=False)

In [47]:
merge_new_records_and_extend_training_dataset()

initial_training_df :  6851
unique_new_records :  676
df_all_training :  7527

/tmp/ipykernel_726757/1519100502.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_all = pd.concat([df_all,df])

In [52]:
merge_new_records_and_extend_training_dataset()

initial_training_df :  6851
unique_new_records :  696
df_all_training :  7547

/tmp/ipykernel_726757/2830795956.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_all = pd.concat([df_all,df])

In [54]:
initial_train_recors_count = len(pd.read_csv('dataset/train_split.csv'))
initial_train_recors_count

6851

In [1]:
# find the modt recent model
folder_path_for_keras = 'saved_models' 
keras_models_list = glob.glob(f"{folder_path_for_keras}/*.keras")

keras_models_list

NameError: name 'glob' is not defined

In [66]:
keras_models_list.sort(reverse=True)

keras_models_list[1]

'saved_models/lemos_DT_nlp_bert_049.keras'

In [1]:
import lemos_validate as lval

print(lval.get_recent_model_path())
print(lval.get_next_iteration())

6851
saved_models/lemos_DT_nlp_bert_049.keras
050

In [8]:
import os
import shutil

curr_file_full_path = "saved_models/lemos_DT_nlp_bert_CURR.txt"
best_model_path = "saved_models/test.txt"
# best_model_path = "saved_models/lemos_834_001.txt"

dest = shutil.copy(best_model_path, curr_file_full_path)

In [10]:
from subprocess import call
call(["python", "lemos_validate.py"])

6851

0

In [3]:
import glob

def get_next_iteration():
    folder_path_for_keras = 'saved_models' 
    keras_models_list = glob.glob(f"{folder_path_for_keras}/*.keras")
    keras_models_list.sort(reverse=True)

    path = keras_models_list[1]
    val = int(path[path.index("bert_")+5:path.index(".keras")])+1

    print('{:0>3}'.format(val))
    iteration = '{:0>3}'.format(val)

    return iteration

get_next_iteration()

050

'050'

In [12]:
import pandas as pd
initial_train_records_count = len(pd.read_csv(r'dataset/train_split.csv')) # 6851

int(1.1*(initial_train_records_count))

7536

In [14]:
from subprocess import call

itr = lval.get_next_iteration()
epochs = '4'

dynamic_vals = f"--export=ALL,iteration={itr},epochs={epochs}"
out_filename = f"out_files_from_slurm/lemos_834_{itr}.txt"

# call(["sbatch", dynamic_vals, "-o", out_filename, "lemos_job_test.sh"])
call(["sbatch", dynamic_vals, "-o", out_filename, "training_job_submission.sh"])

# sbatch --export=ALL,iteration='044',epochs=4 -o lemos_834_044.txt lemos_job_test.sh

Submitted batch job 2558754

0